// ЦВЕТА

// Основные цвета

$white: #fff;
$grey-line: #ccc;
$grey-text: #666;
$grey-tooltip: #999;
$grey-background: #f5f5f5;
$not-black: #282828;

// Цвета для кнопок

$yellow: #e5b432;
$green: #89c04f;
$blue: #0099ff;
$info-blue: #72c7e4;
$red: #dc594b;

// Цвета для ссылок

$link-color: #0099ff;
$link-color-hover: #ff0000;

// Цвета плашек
$yellow-well: #f7f5e4;